<h1>Editing programgroup</h1>

<%= form_for( @programgroup, :url => { :action => 'update', :id => @programgroup } ) do |f| %>
  <%= render :partial => 'form' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @programgroup %> |
<%= link_to 'Back', :action => 'index' %>
