<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Lisättiin <%= @people.size %> henkilöä Conbasen ryhmään <%= @group.name %></p>

<p>Henkilöt ovat:</p>
<ul>
  <% for person in @people %>
      <li><%= person.name %></li>
  <% end %>
</ul>

</body>
</html>
