<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Hei <%= @person.name %>!</p>
<p>Olet tilannut Ropecon 2017-työvoimapaidan. Huomaathan, että tilauksesi vahvistuu vasta,
kun olet maksanut paidan ja maksu näkyy ajoissa Ropecon ry:n tilillä.</p>
<p>Paidan tiedot: <%= @details %></p>
<p>Paidan hinta: <%= @price %> euroa.</p>
<p>Viitenumero: %<%= @reference %></p>
<p>Eräpäivä: HETI</p>
<p>Pankkitili: Nordea FI07 1470 3000 2255 43</p>
<p>Saaja Ropecon ry</p>
<br/>
<p>Terveisin Ropecon ry:n myyntituotetiimi <a href="myyntituotteet@ropecon.fi">myyntituotteet@ropecon.fi</a></p>
</body>
</html>