<% if target.errors.any? %>
    <div id="errorExplanation">
      <h2>Virheet estivät lomakkeen tietojen tallettamisen:</h2>
      <ul>
        <% target.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
