<%= error_messages_for 'contact' %>

<!--[form:contact]-->
<p><label for="contact_contact_type">Contact type</label><br/>
<%= f.text_field :contact_type  %></p>

<p><label for="contact_contact_value">Contact value</label><br/>
<%= f.text_area :contact_value  %></p>
<!--[eoform:contact]-->

