<% Order.content_columns.each do |column| %>
<p>
  <b><%= column.human_name %>:</b> <%=h @order.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @order %> |
<%= link_to 'Back', :action => 'list' %>
