<h1>Kirjaudu sisään</h1>
<%= form_for(:user) do |f|%>
    <table>
        <tr><td>Sähköpostiosoite</td><td><%= f.text_field :primary_email %></td></tr>
        <tr><td>Salasana</td><td><%= f.password_field :password %></td></tr>
        <tr><td><%= f.submit "Kirjaudu" %></td></tr>
    </table>
<% end %>

