<%= form_for(:user, :url => { :action => 'send_password' }) do |f| %>
<p>Sähköpostiosoitteesi: <%= f.text_field :primary_email %>></p>
<p>Paljonko on kaksi plus kolme: <%= f.text_field :check %></p>
<p><%= f.submit "Kirjaudu" %></p>
<% end %>
