<%= error_messages_for 'personeventattribute' %>

<!--[form:personeventattribute]-->
<p><label for="personeventattribute_value">Value</label><br/>
<%=f.text_area :value %></p>
<!--[eoform:personeventattribute]-->

