<h1>New personeventattribute</h1>

<%= form_for( @personeventattribute, :url => { :action => 'create' } ) do |f| %>
  <%= render :partial => 'form' %>
  <%= f.submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
