<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ropecon | 2009 / Ohjelma-Ohjelmakartta </title>
    <meta http-equiv='Content-Style-Type' content='text/css' />
   
    <link rel='stylesheet' href='http://ropecon.fi/pub/skins/ropecon-2009/pmwiki.css' type='text/css' />
    <link rel='stylesheet' href='http://ropecon.fi/pub/skins/ropecon-2009/ropecon-2009.css' type='text/css' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    
    <link rel='stylesheet' href='http://ropecon.fi/pub/skins/ropecon-2009/ohjelma.css' />
  <meta name='robots' content='index,follow' />


  </head>
  <body>

    <div id="site_header">
	<div id="site_logo"><a href="http://ropecon.fi/index.php/2009/2009"><img src='http://ropecon.fi/pub/skins/ropecon-2009/con09.png' alt="Ropecon 2009"/></a></div>
        <div id="site_splash"><img src="http://ropecon.fi/pub/skins/ropecon-2009/banner02.png"/></div>
  
	<div id="site_menu" class="menubar"><ul><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />

</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Yleisinfo'><img src='http://ropecon.fi/pub/skins/ropecon-2009/yleisinfo.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Kunniavieraat'><img src='http://ropecon.fi/pub/skins/ropecon-2009/kunniavieraat.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Ohjelma'><img src='http://ropecon.fi/pub/skins/ropecon-2009/ohjelma.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Kaubamaja'><img src='http://ropecon.fi/pub/skins/ropecon-2009/kaubamaja.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/T%c3%b6ihin'><img src='http://ropecon.fi/pub/skins/ropecon-2009/toihin.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Historia'><img src='http://ropecon.fi/pub/skins/ropecon-2009/historia.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Extra'><img src='http://ropecon.fi/pub/skins/ropecon-2009/extra.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Yhteystiedot'><img src='http://ropecon.fi/pub/skins/ropecon-2009/yhteystiedot.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/RopeconRy'><img src='http://ropecon.fi/pub/skins/ropecon-2009/ropeconry.png' alt='' title='' /></a>

</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/InEnglish'><img src='http://ropecon.fi/pub/skins/ropecon-2009/inenglish.png' alt='' title='' /></a> 
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2009/bullet.png' alt='' title='' />
</li></ul><div class='clean' >  
<p>..
</p></div>
<div class='vspace'></div><ul><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Ohjelma-Roolipelit'>Roolipelit</a>
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Ohjelma-Puheohjelma'>Puheohjelma</a>
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Ohjelma-Larpit'>Larpit</a>
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Ohjelma-Figupelit'>Figupelit</a>
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Ohjelma-Korttipelit'>Korttipelit</a>
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Ohjelma-Lautapelit'>Lautapelit</a>

</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Ohjelma-Ty%c3%b6pajat'>Työpajat</a>
</li><li><a class='wikilink' href='http://ropecon.fi/index.php/2009/Ohjelma-Muu'>Muu ohjelma</a>
</li></ul><div class='vspace'></div>
</div>
      
	<div class="clear"></div>
    </div>

    <div id="page_layout">
        <!-- itse verkkosivu --> 
        <div id="pagebox">
		<%= yield %>
	</div>
      	<div class="clear"></div>
    </div>

    <div id="site_tailer">
        <div id="alatunniste"><div><img src='http://ropecon.fi/pub/skins/ropecon-2009/footer_palkki_940.png' alt='' title='' /></div>
</div>
      </div>
    </div>
  </body>
</html>

