<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Ropeconin ohjelma</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="http://www.ropecon.fi/ropecon_2007.css" rel="stylesheet" type="text/css" />
	</head>
	<body style="background-image:url('http://www.ropecon.fi/images/conleiska_kokonainen_fin.jpg')">
		<div id="sisalto">


                <div id="valikko">
                        
<a href="http://www.ropecon.fi/index.php">Pääsivu</A> *
<a href="http://www.ropecon.fi/info.php">Info</A> *
<a href="http://www.ropecon.fi/uutiset.php">Uutiset</A> *
<a href="http://www.ropecon.fi/lehdisto.php">Lehdistö</A> *
<a href="http://www.ropecon.fi/goh.php">Kunniavieraat</A> *
<a href="http://www.ropecon.fi/ohjelma.php">Ohjelma&nbsp;ja&nbsp;teemat</A>
<br>
<a href="http://www.ropecon.fi/lisatiedot.php">Lisätietoja</A> *
<a href="http://www.ropecon.fi/staff.php">Töihin&nbsp;coniin</A> *
<a href="http://www.ropecon.fi/kaubamaja.php">Kaubamaja</A> *
<a href="http://www.ropecon.fi/historia.php">Ropeconit&nbsp;1994-2006</a> *
<a href="http://www.ropecon.fi/english">In&nbsp;English</A>

                </div>


<br>
                <div id="valikko2">
<a href="http://www.ropecon.fi/ohjelma.php">Ohjelman pääsivu</A> *
<a href="http://www.ropecon.fi/teemat.php">Teemat</A> *
<a href="http://www.ropecon.fi/nostot.php">Nostot</A> *
<a href="http://www.ropecon.fi/figut.php">Figumaalauskilpailu</A>
<br>
<a href="http://www.ropecon.fi/huutelot.php">Ohjelmahuutelot</A> * 
<a href="http://gm.ropecon.fi">Pelinjohtajaksi&nbsp;Ropeconiin</A>

                </div>
<div id="sivunteksti">
<%= yield %>
</div>
<br>

	<div id="navi">
Lisätietoja:<br/>tiedotus&#064;ropecon.fi<br/>050&nbsp;338&nbsp;5159<br/>
	<br/>

	</div>
</div>
</body>
</html>
