<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ropecon | 2010 / 2010 </title>
    <meta http-equiv='Content-Style-Type' content='text/css' />

    <link rel='stylesheet' href='http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2010/pmwiki.css' type='text/css' />
    <!--link rel='stylesheet' href='http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2010/grid.css' /-->
    <link rel='stylesheet' href='http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2010/ropecon-2010.css' type='text/css' />
    <!--HTMLHeader--><meta http-equiv='Content-Type' content='text/html; charset=utf-8' /><link rel='stylesheet' type='text/css' href='http://www.ropecon.fi/pmwiki/pub/fox/fox.css' media='screen' />
  <meta name='robots' content='index,follow' />


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-396655-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>

  <body>


    <div id="site_header">
      <div id="site_logo"><a href="http://www.ropecon.fi/pmwiki/index.php/2010/2010"><img src='http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2010/ropeconteksti.png' alt="Ropecon 2010"/></a></div>
      <div id="site_splash"><img src="http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2010/nettibanneri2010.png"/></div>

      <!--Menu generated from [Group].Navigaatio [SiteGroup].TopBar -->
      <div id="site_menu" class="menubar"><ul><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/Yleisinfo'><img src='http://ropecon.fi/pub/skins/ropecon-2009/yleisinfo.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/Ohjelma'><img src='http://ropecon.fi/pub/skins/ropecon-2009/ohjelma.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/Kunniavieraat'><img src='http://ropecon.fi/pub/skins/ropecon-2009/kunniavieraat.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/Kaubamaja'><img src='http://ropecon.fi/pub/skins/ropecon-2009/kaubamaja.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/T%c3%b6ihin'><img src='http://ropecon.fi/pub/skins/ropecon-2009/toihin.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/Historia'><img src='http://ropecon.fi/pub/skins/ropecon-2009/historia.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/Extra'><img src='http://ropecon.fi/pub/skins/ropecon-2009/extra.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/Yhteystiedot'><img src='http://ropecon.fi/pub/skins/ropecon-2009/yhteystiedot.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/RopeconRy'><img src='http://ropecon.fi/pub/skins/ropecon-2009/ropeconry.png' alt='' title='' /></a>
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2010/InEnglish'><img src='http://ropecon.fi/pub/skins/ropecon-2009/inenglish.png' alt='' title='' /></a> 
</li><li><img src='http://ropecon.fi/pub/skins/ropecon-2010/bullet_violet.png' alt='' title='' />
</li></ul><div class='clean' >  
<p>..
</p></div>
<div class='vspace'></div>
</div>

      <div class="clear"></div>
    </div>


    <div id="page_layout">
      <!-- itse verkkosivu -->

	<%= yield %>

      <div class="clear"></div>
    </div>


    <div id="site_tailer">
      <div id="alatunniste"><div><img src='http://ropecon.fi/pub/skins/ropecon-2009/footer_palkki_940.png' alt='' title='' /></div>
</div>
    </div>


   </div>
  </body>
</html>
