
<!DOCTYPE html>
<html>
  <head>
    <title>Ropecon 2012 - Ohjelma</title>
    <meta http-equiv='Content-Style-Type' content='text/css' />
    <link rel='stylesheet' type='text/css' href='http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2012/pmwiki.css'/> 
    <link rel="stylesheet" type="text/css" href="http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2012/ropecon-2012.css"/>
    <!--HTMLHeader--><meta http-equiv='Content-Type' content='text/html; charset=utf-8' /><script type="text/javascript">
function toggle(obj) {
    var elstyle = document.getElementById(obj).style;
    var text    = document.getElementById(obj + "tog");
    if (elstyle.display == 'none') {
        elstyle.display = 'block';
        text.innerHTML = "hide";
    } else {
        elstyle.display = 'none';
        text.innerHTML = "show";
    }
}
</script>  <meta name='robots' content='index,follow' />
  </head>
<body>
    <!--PageHeaderFmt-->
    <div id="layout_frames">
    <div id="layout">
     <!-- style="position:absolute; top:-15px;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;"><img style="-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;" src="http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2012/wbropeconbanner2012_ukkeli.png"/></div-->
     <div id="banneri">
        <a href="http://www.ropecon.fi/pmwiki/index.php/2012"> <img src="http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2012/wbropeconbanner2012_logo.png" alt="Ropecon 2011 29.-31.7. Dipoli, Espoo" style="-webkit-user-select: none"/> </a>
        
        </div>
  <div id="top_menu"><ul><li><a class='selflink' href='http://www.ropecon.fi/pmwiki/index.php/2012/2012'>Etusivu</a>
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2012/K%c3%a4vij%c3%a4lle'>Kävijälle</a>
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2012/Ohjelma'>Ohjelma</a>
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2012/Medialle'>Medialle</a>
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2012/OtaYhteytt%c3%a4'>Ota yhteyttä</a>
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/Blogi/Blogi'>Blogi</a>
</li><li><a class='wikilink' href='http://www.ropecon.fi/pmwiki/index.php/2012e/2012e'><img src='http://www.ropecon.fi/pmwiki/index.php/2012/2012?action=download&amp;upname=UKflag.png' alt='' /></a>
</li></ul><div class='vspace'></div>
</div>
  <div id="middle">
  
  
    <div id="sidebar"> 
      <h3>Kokeile tauluttajaa!</h3>
<div class='fpltemplate'>
 <ul><li>Kokeile <a class='wikilink' href='http://ilarikajaste.fi/ropecon2012'>Tauluttajaa</a>, se on näppärä sovellus ohjelman selaamiseen ja hallintaan. Kiitokset Ilari Kajasteelle! </li> <br />
<li>Ajantasainen ohjelma kännykkääsi tapahtuman aikana: <a class='wikilink' href='http://m.ropecon.fi/'>m.ropecon.fi.</a> (ei vielä toiminnassa). </li></ul>
</div> <br /> <br />
<div class='vspace'></div><ul><li><a class='urllink' href='http://www.ropecon.fi/pmwiki/index.php/Hallitus/Ropecon/' rel='nofollow'>Ropecon ry</a>
</li></ul><p class='vspace'><br clear='all' />
</p>
 
      
      <div class="fb-like" data-href="http://www.ropecon.fi" data-send="false" data-layout="button_count" data-width="270" data-show-faces="false" data-font="lucida grande"></div>
      
      <div style="padding-top:0.5em;"><g:plusone size="medium" annotation="inline" width="270"></g:plusone></div>
      
      <a href="https://twitter.com/ropecon" class="twitter-follow-button" data-show-count="false">Follow @ropecon</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      
      <div id="twitter_hack">      
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 250,
  height: 300,
  margin: 0,
  padding: 0,
  theme: {
    shell: {
      background: '#000000',
      color: '#ad0c24'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#ad0c24'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    behavior: 'all'
  }
}).render().setUser('ropecon').start();
      </script>
      </div>
    </div>
    
    <div id="page_content"> 
      
      <!--PageText-->
<div id='wikitext'>
<%= yield %>
</div>
 
    </div>
    <div style="clear:both"></div>
    
  </div>
  </div>
  <div id="tailer"><img src="http://www.ropecon.fi/pmwiki/pub/skins/ropecon-2012/footer_2.png" alt="Ropecon 2011 29.-31.7. Dipoli, Espoo" style="-webkit-user-select: none"/> </a></div>
</div>
<!--HTMLFooter-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fi_FI/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Place this render call where appropriate -->
<script type="text/javascript">
  window.___gcfg = {lang: 'fi'};
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</body>
</html>
