<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<title>Ropecon 2008 | Ohjelma / Ohjelma </title>

		<!-- Styles common to all pages -->
		<link rel="stylesheet" href="http://messukeskus.ropecon.fi/2008/pub/skins/Sivut2008/ropecon_2008.css" type="text/css"/>

		<!-- Styles for homepage-->

		<link rel="stylesheet" href="http://messukeskus.ropecon.fi/2008/pub/skins/Alasivut2008/ropecon_2008_subpage.css" type="text/css"/>		

		<!-- Force IE like behaviour in other borwsers if needed-->
		<!--[if !IE]>-->
		<style type="text/css">
		
			/*NON IE CSS GOES HERE*/

		</style>
		<!--<![endif]-->

		<!--FIX Older IE PNG Issues-->
 		<!--[if lte IE 6]>
		<style type="text/css">

			/*IE 6/5.5 CSS GOES HERE*/
			/*Add support for transparency in PNG:s to IE 5.5 and 6*/
			img {
				filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(...);
			}

		</style>
		<![endif]-->
		
		</head>

	<body>
		

		<div id="header">
			<a href="http://messukeskus.ropecon.fi/2008/">
				<img id="header-dice" src="http://messukeskus.ropecon.fi/2008/pub/images/ropecon-noppa.png" alt="1d6"/>
				<img id="site-logo" src="http://messukeskus.ropecon.fi/2008/pub/images/ropecon-logo-2008.png" alt="ROPECON XV 2008"/>
			</a>
		</div>
		<div id="headerpic">
			<img src="http://messukeskus.ropecon.fi/2008/pub/images/Ohjelma.png" alt="Ohjelma"/>

		</div>


		<div id="main-menu">
			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/Yleisinfo/Yleisinfo">
				<img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/yleisinfo.png" alt="Yleisinfo"/></a>
			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/Kunniavieraat/Kunniavieraat">
				<img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/kunniavieraat.png" alt="Kunniavieraat"/></a>

			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/Ohjelma/Ohjelma">
				<img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/ohjelma.png" alt="Ohjelma"/></a>
			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/Kaubamaja/Kaubamaja"><img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/kaubamaja.png" alt="Kaubamaja"/></a>
			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/Toihin/Toihin"><img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/toihin.png" alt="T&#246;ihin"/></a>
			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/Yhteystiedot/Yhteystiedot"><img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/yhteystiedot.png" alt="Yhteystiedot"/></a>

			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/Historia/Historia"><img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/historia.png" alt="Historia"/></a>
			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/Extra/Extra"><img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/extra.png" alt="Extra"/></a>
			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/Conry/Conry"><img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/ropeconry.png" alt="Ropecon ry."/></a>
			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>
			<a href="http://www.ropecon.fi/2008/I18N/118N"><img class="menu-label" src="http://messukeskus.ropecon.fi/2008/pub/images/inenglish.png" alt="In English"/></a>
			<img class="menu-spacer" src="http://messukeskus.ropecon.fi/2008/pub/images/bullet.png" alt="*"/>

		</div>

		<div id="sub-menu">
			<p><a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Roolipelit'>Roolipelit</a> – <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Puheohjelma'>Puheohjelma</a> – <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Larpit'>Larpit</a> – <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Figupelit'>Figupelit </a> – <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Korttipelit'>Korttipelit</a> – <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Lautapelit'>Lautapelit</a> – <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/TyPajat'>Työpajat</a> – <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/MuuOhjelma'>Muu ohjelma</a>

</p>

		</div>
		
 <div id="main-content">
		<div id="sidebar">
			<!--<img src="http://messukeskus.ropecon.fi/2008/pub/images/alasivu-top.png" alt="----"/>-->
			<div style="min-height:100px" id="sidebar-content">
			<img id="sidelogo" src="http://messukeskus.ropecon.fi/2008/pub/images/alasivu-sivulogo.png" style="padding-top:-10px;margin-top:-9px;margin-left:-10px"/>
			<!--div style="min-height:100px" id="sidebar-content"-->
				<p>Mitämissämilloin? Katso <a target='_blank'  class='urllink' href='http://conbase.ropecon.fi/programs/public/all/time?id=15' rel='nofollow'>ohjelmakartasta</a>.

</p>
<p class='vspace'>Kokeile myös 
Ilari Kajasteen 
<a target='_blank'  class='urllink' href='http://ileden.kapsi.fi/ropecon2008/' rel='nofollow'>kustomoitavaa ohjelmakarttaa</a>!
</p>

<p class='vspace'>Kilpailuviettiään voi purkaa vaikkapa <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Figumaalauskilpailu'>Figumaalaus-</a>, <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Pelisuunnittelukilpailu'>Pelisuunnittelu-</a>, <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Valokuvauskilpailu'>Valokuvaus-</a> tai <a class='wikilink' href='http://messukeskus.ropecon.fi/2008/Ohjelma/Manganpiirtokilpailu'>Manganpiirtokilpailuissa</a>.
</p>
 
			</div>
			<div style="margin:0px;padding:0px">
			<img style="" src="http://messukeskus.ropecon.fi/2008/pub/images/alasivu-pohja-fix.png" alt="----"/>

			</div>
		</div>
		
		<!--div id="main-content"-->
			<!-- the command below will generate div with id wikitext -->
			<!--PageText-->
<div id='wikitext'>
	<%= yield %>
</div>

		</div>
		<div id="content-tailer">
			
		</div>

		<div id="tailer">
		        
		</div>
		
	        <div id="control"></div>

	</body>
</html>

